In [1]:
import pandas as pd

In [2]:
mine = pd.read_parquet("../data/charts.parquet")

In [5]:
mine.artists

0                   [Haftbefehl]
1                      [Suchmos]
2                     [Nilipek.]
3                     [Nilipek.]
4                     [Nilipek.]
                   ...
5299303         [Ebbot Lundberg]
5299304    [THE ORAL CIGARETTES]
5299305    [THE ORAL CIGARETTES]
5299306    [THE ORAL CIGARETTES]
5299307              [Lord Siva]
Name: artists, Length: 5298457, dtype: object

In [6]:
sliced = mine.sample(50000)

In [8]:
def to_1d(series):
    return pd.Series([x for _list in series for x in _list])

In [15]:
top_artists = to_1d(mine.artists).value_counts()

In [19]:
top_artists_df = pd.DataFrame(top_artists).reset_index()

In [21]:
top_artists_df.query('index == "Eminem"')

     index      0
38  Eminem  29880

In [22]:
top_artists_df.query('index == "Kendrick Lamar"')

             index      0
63  Kendrick Lamar  20510